name: Publish Docker Image

on:
  push:
    branches: ["main"]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: bolgebaderne/boelgebaderne

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

      - name: Set up JDK 21
        uses: actions/setup-java@99d9a62ff08b4985ba97f307fbeeb887dfc98a2c
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache Maven packages
        uses: actions/cache@6849a6489940f00c2f30c0fb8d56d5a7f2f25e94
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-

      - name: Log in to GHCR
        uses: docker/login-action@0d63d480b9181e7e841e087ded1b3db441fb8b22
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@1c461cc3722d6cafe5cd0f51ddb9e3321e7f6cc2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/bolgebaderne/boelgebaderne:latest
            ghcr.io/bolgebaderne/boelgebaderne:${{ github.sha }}
